@model MVCDemo.Entity.Employee
@{
    ViewBag.Title = "ViewEmployee";
}

<h2>ViewEmployee</h2>
@Html.ActionLink("Add New Employee","AddEmployee")<br />

<table border="1">
    <tr>
        <th>
            Employee Id
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Role
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (MVCDemo.Entity.Employee item in (IEnumerable<MVCDemo.Entity.Employee>)TempData["Details"])
    {
        
            <tr>
                <td>
                    @item.empId

                </td>
                <td>
                    @item.empName
                </td>
                <td>
                    @item.role
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.empId})|
                    @Html.ActionLink("Delete", "Delete", new { id=item.empId})
                </td>
            </tr>
        
    }
</table>

